<% @post.each do |post| %>
  <div><h1><a href="post/<%=post.title%>" class="list_of_posts"> <%=post.title%></a></h1></div>
<% end %>


<!-- <div class="container">
  <h1>(TODO) Reverse Chronological List of All Posts </h1>
  <nav class="post_nav_list">
    <ul>
      <li> 1 </li>
      <li> 2 </li>
      <li> 3 </li>
      <li> Etc. </li>
    </ul>
  </nav>
</div> -->
